/*
** Overlay Mixin
** Overlay Main Properties
*/
/*
** Prefixes Mixin
** Auto Add Prefixes To Properties
*/
/*
** Animation Mixin
** Auto Add Prefixes To Animation
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clearfix {
  clear: both;
}

.head-with-border {
  position: relative;
}
.head-with-border h2 {
  text-align: center;
  background-color: #e2494c;
  color: #fff;
  margin: 40px auto;
  border-radius: 15px;
  width: 400px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: normal;
}
.head-with-border h2:before, .head-with-border h2:after {
  content: "";
  height: 1.5px;
  position: absolute;
  top: 50%;
  z-index: -1;
}
.head-with-border h2:before {
  width: 100%;
  background-color: #9c9c9c;
  left: 0;
}
.head-with-border h2:after {
  width: 450px;
  background-color: #f6f6f6;
  left: calc(50% - 225px);
}

.main-button {
  background-color: rgba(226, 73, 76, 0.7);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  min-width: 120px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.main-button:hover {
  background-color: #e2494c;
}

body {
  background-color: #f6f6f6;
  font-family: Tahoma;
  font-size: 16px;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.header {
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #9c9c9c;
}
.header .logo {
  width: 30%;
  float: left;
}
.header .logo h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
.header .navbar {
  width: 70%;
  float: left;
  background-color: #e2494c;
  border-radius: 15px;
}
.header .navbar li {
  width: 20%;
  float: left;
  font-size: 18px;
  text-align: center;
}
.header .navbar li a {
  display: block;
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
}
.header .navbar li a.active {
  color: #ddd;
}
.header .navbar li a:hover {
  color: #ddd;
}

/* Start Slider */
.slider blockquote {
  font-size: 20px;
  font-style: italic;
  font-weight: blod;
  font-family: Tahoma, Arial;
  line-height: 1.7;
  text-align: center;
  color: #5e5e5e;
  width: 80%;
  margin: 30px auto;
}
.slider img {
  max-width: 100%;
}
.slider .bullets {
  text-align: center;
}
.slider .bullets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #9c9c9c;
  border-radius: 50%;
  border: 3px solid #9c9c9c;
  cursor: pointer;
}
.slider .bullets li.active, .slider .bullets li:hover {
  background-color: #fff;
  border-color: #333;
}

/* End Slider */
/* Start Services */
.services .service-box {
  float: left;
  width: 32%;
}
.services .service-box:not(:last-of-type) {
  margin-right: 2%;
}
.services .service-box .service-title {
  color: #666;
}
.services .service-box .service-title i {
  font-size: 35px;
  position: relative;
  top: 4px;
}
.services .service-box .service-desc {
  color: #777;
  line-height: 1.5;
}
.services .service-box .service-link {
  color: #e2494c;
  text-decoration: none;
}

/* End Services */
/* Start Our Players */
.our-players .player-box {
  float: left;
  width: 19.2%;
}
.our-players .player-box:not(:last-of-type) {
  margin-right: 1%;
}
.our-players .player-box .player-img {
  max-width: 100%;
}
.our-players .player-box .player-title {
  color: #666;
  font-weight: normal;
}
.our-players .player-box .player-title span {
  font-weight: bold;
}
.our-players .player-box .player-desc {
  color: #777;
  line-height: 1.5;
}
.our-players .player-box .player-link {
  color: #e2494c;
  text-decoration: none;
}

/* End Our Players */
/* Start Lorem Ipsum */
.lorem-ipsum .lorem-box {
  float: left;
  width: 31.3333333333%;
}
.lorem-ipsum .lorem-box:not(:last-of-type) {
  margin-right: 3%;
}
.lorem-ipsum .lorem-box .lorem-img {
  width: 100%;
  max-width: 100%;
  height: 200px;
}

/* End Lorem Ipsum */
/* Start Footer */
.footer {
  background-color: #e2e2e2;
  overflow: hidden;
  padding-top: 30px;
  margin-top: 50px;
}
.footer .gallery, .footer .info, .footer .contact {
  float: left;
}
.footer .gallery {
  width: 50%;
}
.footer .gallery .post-box {
  overflow: hidden;
  margin-bottom: 15px;
}
.footer .gallery .post-box img {
  float: left;
  width: 150px;
  height: 150px;
  padding: 3px;
  border: 1px solid #9c9c9c;
  background-color: transparant;
}
.footer .gallery .post-box .text {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  width: calc(100% - 180px);
}
.footer .gallery .post-box .text h4 {
  margin: 8px 0 0;
  color: #e2494c;
}
.footer .gallery .post-box .text p {
  line-height: 1.7;
  color: #9c9c9c;
  margin-top: 10px;
}
.footer .info {
  width: 25%;
}
.footer .info ul {
  color: #9c9c9c;
  line-height: 1.6;
}
.footer .info ul li {
  height: 25px;
}
.footer .info ul li .email {
  color: #e2494c;
}
.footer .info h4 {
  margin-bottom: 5px;
  color: #9c9c9c;
}
.footer .info p {
  color: #9c9c9c;
  margin: 5px 0;
}
.footer .contact {
  width: 25%;
}
.footer .contact input[type=text],
.footer .contact input[type=email],
.footer .contact textarea {
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  color: #9c9c9c;
}
.footer .contact textarea {
  height: 170px;
  resize: none;
}
.footer .section-title {
  color: #444;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.footer .copyright {
  overflow: hidden;
  margin-top: 30px;
  color: #9c9c9c;
  border-top: 1px solid #9c9c9c;
  padding: 30px 0;
}
.footer .copyright .copyright-text,
.footer .copyright .copyright-author {
  width: 50%;
  float: left;
}
.footer .copyright .copyright-text a {
  text-decoration: none;
  color: #9c9c9c;
}
.footer .copyright .copyright-text a:hover {
  color: #e2494c;
}
.footer .copyright .copyright-author {
  text-align: right;
}

/* End Footer */

/*# sourceMappingURL=homepage.css.map */
