/* Start Slider */
.slider {
	blockquote {
		font: {
			size: 20px;
			style: italic;
			weight: blod;
			family: Tahoma, Arial;
		}
		line-height: 1.7;
		text-align: center;
		color: #5e5e5e;
		width: 80%;
		margin: 30px auto;
	}
	img {
		max-width: 100%;
	}
	.bullets {
		text-align: center;
		li {
			display: inline-block;
			width: 20px;
			height: 20px;
			background-color: $greyColor;
			border-radius: 50%;
			border: 3px solid $greyColor;
			cursor: pointer;
			&.active,
			&:hover {
				background-color: #fff;
				border-color: #333;
			}
		}
	}
}
/* End Slider */

/* Start Services */
.services {
	.service-box {
		@media #{$maxMobile} {
			i {
				display: block;
				margin-bottom: 15px;
			}
		}
		@media #{$minMedium} {
			float: $float-left;
			width: (96% / 3);
			&:not(:last-of-type) {
				margin-right: 2%;
			}
		}
		.service-title {
			color: #666;
			i {
				font-size: 35px;
				position: relative;
				top: 4px;
			}
		}
		.service-desc {
			color: #777;
			line-height: 1.5;
		}
		.service-link {
			color: $redColor;
			text-decoration: none;
		}
	}
}
/* End Services */

/* Start Our Players */
.our-players {
	.player-container {
		.player-box {
			margin-bottom: 40px;
			@media #{$minSmall} {
				float: $float-left;
				width: (98% / 2);
				text-align: center;
			}
			@media #{$minSmall} and #{$maxSmall} {
				&:nth-of-type(2n+1) {
					margin-right: 2%;
				}
			}
			@media #{$minMedium} {
				width: (96% / 3);
				text-align: $text-left;
			}
			@media #{$minMedium} and #{$maxMedium} {
				&:not(:nth-of-type(3n+3)) {
					margin-right: 2%;
				}
			}
			@media #{$minLarge} {
				width: (92% / 5);
				&:not(:nth-of-type(5n+5)) {
					margin-right: 2%;
				}
			}
			.player-img {
				max-width: 100%;
				width: 100%;
			}
			.player-title {
				color: #666;
				font-weight: normal;
				span {
					font-weight: bold;
				}
			}
			.player-desc {
				color: #777;
				line-height: 1.5;
			}
			.player-link {
				color: $redColor;
				text-decoration: none;
			}
		}
	}
}
/* End Our Players */

/* Start Lorem Ipsum */
.lorem-ipsum {
	.lorem-box {
		@media #{$minSmall} {
			float: $float-left;
			width: (94% / 3);
			&:not(:last-of-type) {
				margin-right: 3%;
			}
		}
		.lorem-img {
			width: 100%;
			max-width: 100%;
			height: 200px;
		}
	}
}
/* End Lorem Ipsum */